.app-l-partners-with-us__wrapper {
	padding-block: clamp(4rem, 5%, 6rem);
	padding-inline: 15px;
}

.app-l-partners-with-us__container {
	padding-inline: clamp(1.25rem, 5%, 3.5rem);
	// padding-block: 34px;
	background-color: #FF4F0A;
	color: #fff;
	border-radius: 30px;
}