.app-l-partners-with-us__wrapper {
	padding-block: 95px;
}

.app-l-partners-with-us__container {
	padding-inline: 54px;
	padding-block: 34px;
	background-color: #FF4F0A;
	color: #fff;
	border-radius: 30px;
}