.app-l-sportlight{
    position: relative;

    @include flexboxv2();
    @include flex-directionv2(column);

    .app-l-sportlight__bg{
        width: 100%;
        max-height: 100vh;
        height: 56.25vw; /* height:width ratio = 9/16 = .5625  */
        background-repeat: no-repeat;
        background-position: center;
        background-color: $black;

        @include backgroundSize(cover);
        @include flexboxv2();
        @include justify-contentv2(flex-end);
        @include flex-directionv2(column);

        @media screen and (orientation:portrait) and (max-width: 767px) {
            height: 100vh;
            background-position: 69% 0;
        }
    }
    .app-l-sportlight__strip{
        background: $primary-color;
        padding: 24px 20px;
        min-height: 0;

        p{
            margin: 0;
            font-weight: 700;
            line-height: 1.2;
            color: $white;
            text-align: center;
        }
    }
    .app-l-sportlight__caption{
        width: 100%;
        padding-bottom: 80px;

        @include media-767{
            padding-bottom: 35px;
        }
        .app-l-sportlight__caption-text{
            color: $white;
            font-size: 42px;
            line-height: 50px;
            font-family: $font-secondary;
            max-width: 514px;
            width: 100%;
            display: block;

            @include media-1200{
                font-size: 37px;
                line-height: 45px;
            }
            @include media-767{
                text-align: center;
                font-size: 26px;
                line-height: 31.2px;
                max-width: 384px;
                margin: 0 auto;
            }
            strong{
                font-weight: 700;
            }
        }
    }
}

.app-l-info__mobile{
    display: none;
    padding-bottom: 23px;
    padding-top: 23px;
    width: 100%;

    
    background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(0,0,0,1) 100%); 
    background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%); 
    background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#000000',GradientType=0 );


    @include media-767{
        @include flex-shrinkv2(0);
        @include flexboxv2();
        @include align-itemsv2(center);
        @include flex-directionv2(column);
    }

    a{
        color: $white;

        @include flexboxv2();
        @include align-itemsv2(center);

        i{
            font-size: 20px;
            margin-right: 10px;

            @include flex-shrinkv2(0);
        }
        span{
            display: block;
        }

        &:hover{
            color:  $primary-tint-40;
        }
    }
    > div{
        + div{
           margin-top: 11px;
        }
    }
}
