.app-c-btn{
    border: 2px solid transparent;
    padding: 15px 16px 15px 16px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    line-height: 1.3;
    font-family: $font-secondary;

    @include transition(background ease 0.2s, color ease 0.2s, border ease 0.2s);
    @include border-radius(12px);
    @include inline-flexv2();
    @include align-itemsv2(center);
    @include justify-contentv2(center);

    span{
        line-height: 1;
    }
    &:focus{
        outline: none;
    }

    @media screen and (max-width: 767px){
        font-size: 12px;
    }
}

.app-c-btn--primary{
    color: $white;
    background: $primary-color;
    
    &:hover, &:focus, &.active{
        background: $primary-shade-40;
        color: $white;
        border-color: $primary-color;
    }
    i{
        margin-left: 10px;
    }
}

.app-c-btn--secondary{
    background: $white;
    color: $black;
    
    &:hover, &:focus, &.active{
        color: $black;
        border-color:  $primary-tint-20;
    }
}

.app-c-btn--teritary{
    background: $grey-shade-100;
    color: $white;

    &:hover, &:focus{
        border-color:  $primary-tint-20;
        color: $white;
    }
}
.app-c-btn--grey{
    background: $grey-tone-40;
    color: $grey-shade-100;

    &:hover, &:focus, &.active{
        background: $grey-tone-20;
        color: $grey-shade-100;
        border-color: $primary-color;
    }
    i{
        margin-left: 10px;
    }
}
.app-c-btn--icon{
   width: 44px;
   height: 44px;
   border: none; 
   padding: 0;
   font-size: 18px;

   @include border-radius(0);
   @include noShadow();
}
.app-c-btn--badge{
    background: #6A6A6A;
    color: $white;
    font-weight: 500;
    font-size: 14px;
    padding: 5px 22px;

    @include noShadow();

    &:hover{
        background: $secondary-color;
    }
}
.app-c-btn--round{
    width: 35px;
    height: 35px;
    padding: 0;
    font-size: 17px;

    @include noShadow();
    @include border-radius(50%);
}
.app-c-btn--lg{
    padding: 15px 32px;

    @media screen and (max-width: 767px){
        padding: 12px 24px;
    }
}
.app-c-btn--md{
    padding: 13px 32px;
}
.app-c-btn--xs{
    font-size: 14px;
    padding: 6px 31px;
    line-height: 14px;
}
.app-c-btn--block{
    width: 100%;
}

.app-c-btn--text-icon{
    i{
        font-size: 15px;
        margin-right: 10px;

        @include flex-shrinkv2(0);
    }
}
.app-c-icon__31{
    width: 31px;
    height: 31px;
    font-size: 15px;
}

.app-c-btn-option{
    
    background: rgb(245,129,30);
    background: -moz-linear-gradient(top,  rgba(245,129,30,1) 0%, rgba(206,12,14,1) 99%); 
    background: -webkit-linear-gradient(top,  rgba(245,129,30,1) 0%,rgba(206,12,14,1) 99%); 
    background: linear-gradient(to bottom,  rgba(245,129,30,1) 0%,rgba(206,12,14,1) 99%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5811e', endColorstr='#ce0c0e',GradientType=0 ); 

    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;

    @include boxShadow(0px 2px 10px rgba(0, 0, 0, 0.05));
    @include border-radius(10px);

    &:hover{
        background: rgb(206,12,14); 
        background: -moz-linear-gradient(top,  rgba(206,12,14,1) 0%, rgba(245,129,30,1) 99%); 
        background: -webkit-linear-gradient(top,  rgba(206,12,14,1) 0%,rgba(245,129,30,1) 99%); 
        background: linear-gradient(to bottom,  rgba(206,12,14,1) 0%,rgba(245,129,30,1) 99%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce0c0e', endColorstr='#f5811e',GradientType=0 ); 
    }
}
.app-c-btn--text{
    color: #403E3C;
    font-size: 16px;
    text-decoration: underline;
    background: none;
    border: none;
    font-weight: 400;
}
.app-c-btn--icon-plain{
    background: none;
    border: none;
    padding: 0;
    outline: none;
    font-size: 17px;
}

.app-c-btn--success{
    background: $green;
    color: $white;

    &:hover{
        background: lighten($green, 5%);
    }
}

.app-c-btn--danger{
    background: $red;
    color: $white;

    &:hover{
        background: lighten($red, 5%);
    }
}